In [1]:
import pandas as pd
import numpy as np
#testserdar

In [2]:
wsp_contract = pd.read_excel("../../Datasets/study-1-data.xlsx")

In [3]:
wsp_contract['Sales'] = wsp_contract[['Demand', 'Stock']].min(axis=1)

In [4]:
wsp_contract['Leftovers'] = wsp_contract['Stock'] - wsp_contract['Sales']

In [5]:
wsp_contract['Unmet_Demand'] = wsp_contract['Demand'] - wsp_contract['Sales']

In [6]:
wsp_contract.head()

,Experiment,Period,Player ID,Demand,Wholesale p.,Unnamed: 5,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand
0,1,1,Manufacturer 1,122,8,NaN,Retailer 1,60,60,0,62
1,1,2,Manufacturer 1,144,7,NaN,Retailer 1,80,80,0,64
2,1,3,Manufacturer 1,57,7,NaN,Retailer 1,80,57,23,0
3,1,4,Manufacturer 1,149,9,NaN,Retailer 1,51,51,0,98
4,1,5,Manufacturer 1,135,8,NaN,Retailer 1,60,60,0,75

In [7]:
wsp_contract.drop(columns=["Unnamed: 5"], inplace=True)

In [8]:
wsp_contract.head()

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75

In [50]:
wsp_contract['Realized_Mfg_Profit'] = (wsp_contract['Stock'] * wsp_contract['Wholesale p.']) - (3 * wsp_contract['Stock'])

In [51]:
wsp_contract.head()

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62,...,664,0.625000,83,0,415,415,240,0.625000,0,240
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64,...,637,0.571429,91,0,364,364,400,0.571429,0,400
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0,...,637,0.571429,57,34,228,364,124,0.571429,0,124
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98,...,675,0.666667,75,0,450,450,153,0.666667,0,153
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75,...,664,0.625000,83,0,415,415,240,0.625000,0,240

In [52]:
wsp_contract['Realized_Retailer_Profit'] = (wsp_contract['Sales'] * 12) - (wsp_contract['Stock'] * wsp_contract['Wholesale p.'])

In [53]:
#wsp_contract['Total_Revenue'] = wsp_contract['Stock'] * wsp_contract['Wholesale p.']

In [54]:
wsp_contract['Realized_Mfg_Profit_Share'] = wsp_contract['Realized_Mfg_Profit'] / (wsp_contract['Realized_Mfg_Profit'] + wsp_contract['Realized_Retailer_Profit']) #wsp_contract.apply(lambda row: row['Realized_Mfg_Profit'] / row['Total_Manufacturer_Revenue'] if row['Total_Manufacturer_Revenue'] != 0 else 0, axis=1)

In [55]:
wsp_contract.head()

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62,...,664,0.625000,83,0,415,415,240,0.625000,0,240
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64,...,637,0.571429,91,0,364,364,400,0.571429,0,400
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0,...,637,0.571429,57,34,228,364,124,0.571429,0,124
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98,...,675,0.666667,75,0,450,450,153,0.666667,0,153
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75,...,664,0.625000,83,0,415,415,240,0.625000,0,240

In [56]:

wsp_contract['Optimal_Stock'] = 100*((12-wsp_contract['Wholesale p.'])/12) + 50
wsp_contract['Optimal_Stock'] = wsp_contract['Optimal_Stock'].astype(int)

In [57]:
wsp_contract['Under/Overstock_wrt_Optimal'] = wsp_contract['Stock'] - wsp_contract['Optimal_Stock']

In [58]:
wsp_contract.head()

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62,...,664,0.625000,83,0,415,415,240,0.625000,0,240
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64,...,637,0.571429,91,0,364,364,400,0.571429,0,400
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0,...,637,0.571429,57,34,228,364,124,0.571429,0,124
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98,...,675,0.666667,75,0,450,450,153,0.666667,0,153
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75,...,664,0.625000,83,0,415,415,240,0.625000,0,240

In [69]:
potential_demand = np.arange(50, 151)
expected_sales = []

for index, row in wsp_contract.iterrows():
    cumulative_expected_sales = 0
    
    for demand_realization in potential_demand:
        sales = min(demand_realization, row['Stock'])

        cumulative_expected_sales += sales
        
        #if sales == row['Stock']:
         #   cumulative_expected_sales += (150 - demand_realization) * row['Stock']
          #  break
    
    # Calculate the average expected sales for this row and append it to the list
    expected_sales.append(cumulative_expected_sales / len(potential_demand))

wsp_contract['Expected Sales'] = np.array(expected_sales)

In [70]:
wsp_contract.head(20)

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62,...,664,0.562361,83,0,415,415,240,0.625000,0,240
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64,...,637,0.481382,91,0,364,364,400,0.571429,0,400
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0,...,637,0.481382,57,34,228,364,124,0.571429,0,124
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98,...,675,0.666839,75,0,450,450,153,0.666667,0,153
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75,...,664,0.562361,83,0,415,415,240,0.625000,0,240
5,1,6,Manufacturer 1,94,8,Retailer 1,60,60,0,34,...,664,0.562361,83,0,415,415,240,0.625000,0,240
6,1,7,Manufacturer 1,143,11,Retailer 1,0,0,0,143,...,638,NaN,58,0,464,464,0,0.727273,0,0
7,1,8,Manufacturer 1,66,9,Retailer 1,51,51,0,15,...,675,0.666839,66,9,396,450,153,0.666667,0,153
8,1,9,Manufacturer 1,123,12,Retailer 1,0,0,0,123,...,600,NaN,50,0,450,450,0,0.750000,0,0
9,1,10,Manufacturer 1,73,8,Retailer 1,60,60,0,13,...,664,0.562361,73,10,365,415,240,0.625000,0,240
10,1,11,Manufacturer 1,142,9,Retailer 1,51,51,0,91,...,675,0.666839,75,0,450,450,153,0.666667,0,153
11,1,12,Manufacturer 1,132,9,Retailer 1,51,51,0,81,...,675,0.666839,75,0,450,450,153,0.666667,0,153
12,1,13,Manufacturer 1,62,7,Retailer 1,80,62,18,0,...,637,0.481382,62,29,248,364,184,0.571429,0,184
13,1,14,Manufacturer 1,136,9,Retailer 1,51,51,0,85,...,675,0.666839,75,0,450,450,153,0.666667,0,153
14,1,15,Manufacturer 1,146,8,Retailer 1,60,60,0,86,...,664,0.562361,83,0,415,415,240,0.625000,0,240
15,1,16,Manufacturer 1,95,10,Retailer 1,0,0,0,95,...,660,NaN,66,0,462,462,0,0.700000,0,0
16,1,17,Manufacturer 1,139,6,Retailer 1,115,115,0,24,...,600,0.442223,100,0,300,300,690,0.500000,0,690
17,1,18,Manufacturer 1,102,6,Retailer 1,115,102,13,0,...,600,0.442223,100,0,300,300,534,0.500000,0,534
18,1,19,Manufacturer 1,83,7,Retailer 1,80,80,0,3,...,637,0.481382,83,8,332,364,400,0.571429,0,400
19,1,20,Manufacturer 1,142,6,Retailer 1,115,115,0,27,...,600,0.442223,100,0,300,300,690,0.500000,0,690

In [71]:
wsp_contract["Expected_Leftovers"] = wsp_contract["Optimal_Stock"] - wsp_contract["Expected Sales"]

In [72]:
wsp_contract['Expected Retailer Profit'] = (wsp_contract['Expected Sales'] * 12) - (wsp_contract['Wholesale p.'] * wsp_contract['Stock'])

In [73]:
wsp_contract['Expected Mfg Profit'] = (wsp_contract['Stock'] * wsp_contract['Wholesale p.']) - (3 * wsp_contract['Stock'])

In [74]:
wsp_contract.head()

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62,...,664,0.562361,83,0,415,415,240,0.625000,0,240
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64,...,637,0.481382,91,0,364,364,400,0.571429,0,400
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0,...,637,0.481382,57,34,228,364,124,0.571429,0,124
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98,...,675,0.666839,75,0,450,450,153,0.666667,0,153
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75,...,664,0.562361,83,0,415,415,240,0.625000,0,240

In [75]:
wsp_contract['Expected Mfg. Profit Share'] = wsp_contract['Expected Mfg Profit'] / (wsp_contract['Expected Mfg Profit'] + wsp_contract['Expected Retailer Profit']) #wsp_contract.apply(lambda row: row['Expected Mfg Profit'] / row['Total Expected Revenue'] if row['Total Expected Revenue'] != 0 else 0, axis=1)

In [76]:
wsp_contract.head(20)

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62,...,664,0.562361,83,0,415,415,240,0.625000,0,240
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64,...,637,0.481382,91,0,364,364,400,0.571429,0,400
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0,...,637,0.481382,57,34,228,364,124,0.571429,0,124
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98,...,675,0.666839,75,0,450,450,153,0.666667,0,153
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75,...,664,0.562361,83,0,415,415,240,0.625000,0,240
5,1,6,Manufacturer 1,94,8,Retailer 1,60,60,0,34,...,664,0.562361,83,0,415,415,240,0.625000,0,240
6,1,7,Manufacturer 1,143,11,Retailer 1,0,0,0,143,...,638,NaN,58,0,464,464,0,0.727273,0,0
7,1,8,Manufacturer 1,66,9,Retailer 1,51,51,0,15,...,675,0.666839,66,9,396,450,153,0.666667,0,153
8,1,9,Manufacturer 1,123,12,Retailer 1,0,0,0,123,...,600,NaN,50,0,450,450,0,0.750000,0,0
9,1,10,Manufacturer 1,73,8,Retailer 1,60,60,0,13,...,664,0.562361,73,10,365,415,240,0.625000,0,240
10,1,11,Manufacturer 1,142,9,Retailer 1,51,51,0,91,...,675,0.666839,75,0,450,450,153,0.666667,0,153
11,1,12,Manufacturer 1,132,9,Retailer 1,51,51,0,81,...,675,0.666839,75,0,450,450,153,0.666667,0,153
12,1,13,Manufacturer 1,62,7,Retailer 1,80,62,18,0,...,637,0.481382,62,29,248,364,184,0.571429,0,184
13,1,14,Manufacturer 1,136,9,Retailer 1,51,51,0,85,...,675,0.666839,75,0,450,450,153,0.666667,0,153
14,1,15,Manufacturer 1,146,8,Retailer 1,60,60,0,86,...,664,0.562361,83,0,415,415,240,0.625000,0,240
15,1,16,Manufacturer 1,95,10,Retailer 1,0,0,0,95,...,660,NaN,66,0,462,462,0,0.700000,0,0
16,1,17,Manufacturer 1,139,6,Retailer 1,115,115,0,24,...,600,0.442223,100,0,300,300,690,0.500000,0,690
17,1,18,Manufacturer 1,102,6,Retailer 1,115,102,13,0,...,600,0.442223,100,0,300,300,534,0.500000,0,534
18,1,19,Manufacturer 1,83,7,Retailer 1,80,80,0,3,...,637,0.481382,83,8,332,364,400,0.571429,0,400
19,1,20,Manufacturer 1,142,6,Retailer 1,115,115,0,27,...,600,0.442223,100,0,300,300,690,0.500000,0,690

In [78]:
potential_demand = np.arange(50, 151)
expected_sales = []

for index, row in wsp_contract.iterrows():
    cumulative_expected_sales = 0
    
    for demand_realization in potential_demand:
        sales = min(demand_realization, row['Optimal_Stock'])

        cumulative_expected_sales += sales
        
        #if sales == row['Stock']:
         #   cumulative_expected_sales += (150 - demand_realization) * row['Stock']
          #  break
    
    # Calculate the average expected sales for this row and append it to the list
    expected_sales.append(cumulative_expected_sales / len(potential_demand))

wsp_contract['Predicted Sales'] = np.array(expected_sales)

In [77]:
#wsp_contract.to_csv("../../Datasets/study-1-data-wsp.csv", index=False)
#wsp_contract['Predicted Sales'] = wsp_contract[['Demand', 'Optimal_Stock']].min(axis=1).astype(int)

In [79]:
wsp_contract['Predicted Leftovers'] = wsp_contract['Optimal_Stock'] - wsp_contract['Predicted Sales']

In [81]:
wsp_contract['Predicted Retailer Profit'] = wsp_contract['Predicted Sales'] * 12 - (wsp_contract['Wholesale p.'] * wsp_contract['Optimal_Stock'])
wsp_contract['Predicted Mfg Profit'] = (wsp_contract['Optimal_Stock'] * wsp_contract['Wholesale p.']) - (3 * wsp_contract['Optimal_Stock'])

In [82]:
wsp_contract['Realized Retailer Profit'] = wsp_contract['Sales'] * 12 - (wsp_contract['Stock'] * wsp_contract['Wholesale p.'])

In [83]:
wsp_contract['Predicted Mfg. Profit Share'] = wsp_contract['Predicted Mfg Profit'] / (wsp_contract['Predicted Mfg Profit'] + wsp_contract['Predicted Retailer Profit'])

In [29]:
'''

wsp_contract['Predicted Mfg. Profit Share'] = wsp_contract.apply(
    lambda row: row['Predicted Mfg Profit'] / (row['Optimal_Stock'] * row['Wholesale p.']) if (row['Optimal_Stock'] * row['Wholesale p.']) != 0 else 0,
    axis=1
)
'''

In [84]:
wsp_contract.head(20)

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
0,1,1,Manufacturer 1,122,8,Retailer 1,60,60,0,62,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
1,1,2,Manufacturer 1,144,7,Retailer 1,80,80,0,64,...,637,0.481382,82.475248,8.524752,352.702970,364,400,0.507881,0,400
2,1,3,Manufacturer 1,57,7,Retailer 1,80,57,23,0,...,637,0.481382,82.475248,8.524752,352.702970,364,124,0.507881,0,124
3,1,4,Manufacturer 1,149,9,Retailer 1,51,51,0,98,...,675,0.666839,71.782178,3.217822,186.386139,450,153,0.707118,0,153
4,1,5,Manufacturer 1,135,8,Retailer 1,60,60,0,75,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
5,1,6,Manufacturer 1,94,8,Retailer 1,60,60,0,34,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
6,1,7,Manufacturer 1,143,11,Retailer 1,0,0,0,143,...,638,NaN,57.643564,0.356436,53.722772,464,0,0.896233,0,0
7,1,8,Manufacturer 1,66,9,Retailer 1,51,51,0,15,...,675,0.666839,71.782178,3.217822,186.386139,450,153,0.707118,0,153
8,1,9,Manufacturer 1,123,12,Retailer 1,0,0,0,123,...,600,NaN,50.000000,0.000000,0.000000,450,0,1.000000,0,0
9,1,10,Manufacturer 1,73,8,Retailer 1,60,60,0,13,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
10,1,11,Manufacturer 1,142,9,Retailer 1,51,51,0,91,...,675,0.666839,71.782178,3.217822,186.386139,450,153,0.707118,0,153
11,1,12,Manufacturer 1,132,9,Retailer 1,51,51,0,81,...,675,0.666839,71.782178,3.217822,186.386139,450,153,0.707118,0,153
12,1,13,Manufacturer 1,62,7,Retailer 1,80,62,18,0,...,637,0.481382,82.475248,8.524752,352.702970,364,184,0.507881,0,184
13,1,14,Manufacturer 1,136,9,Retailer 1,51,51,0,85,...,675,0.666839,71.782178,3.217822,186.386139,450,153,0.707118,0,153
14,1,15,Manufacturer 1,146,8,Retailer 1,60,60,0,86,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
15,1,16,Manufacturer 1,95,10,Retailer 1,0,0,0,95,...,660,NaN,64.653465,1.346535,115.841584,462,0,0.799527,0,0
16,1,17,Manufacturer 1,139,6,Retailer 1,115,115,0,24,...,600,0.442223,87.376238,12.623762,448.514851,300,690,0.400794,0,690
17,1,18,Manufacturer 1,102,6,Retailer 1,115,102,13,0,...,600,0.442223,87.376238,12.623762,448.514851,300,534,0.400794,0,534
18,1,19,Manufacturer 1,83,7,Retailer 1,80,80,0,3,...,637,0.481382,82.475248,8.524752,352.702970,364,400,0.507881,0,400
19,1,20,Manufacturer 1,142,6,Retailer 1,115,115,0,27,...,600,0.442223,87.376238,12.623762,448.514851,300,690,0.400794,0,690

In [31]:
#wsp_contract.to_csv("../../Datasets/study-1-data-wsp.csv", index=False)

In [32]:
df1 = wsp_contract[0:40]

In [33]:
df1.tail()

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Expected Retailer Profit,Expected Mfg Profit,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share
35,1,36,Manufacturer 1,136,9,Retailer 1,0,0,0,136,...,0.000000,450,675,0.666667,75,0,450,450,0,0.666667
36,1,37,Manufacturer 1,116,8,Retailer 1,60,60,0,56,...,297.277228,415,664,0.625000,83,0,415,415,240,0.625000
37,1,38,Manufacturer 1,105,8,Retailer 1,60,60,0,45,...,297.277228,415,664,0.625000,83,0,415,415,240,0.625000
38,1,39,Manufacturer 1,80,8,Retailer 1,60,60,0,20,...,297.277228,415,664,0.625000,80,3,400,415,240,0.625000
39,1,40,Manufacturer 1,75,8,Retailer 1,55,55,0,20,...,274.257426,415,664,0.625000,75,8,375,415,220,0.625000

In [95]:
df2 = wsp_contract[wsp_contract['Player ID'] == 'Manufacturer 1']
df2.tail()

,Experiment,Period,Player ID,Demand,Wholesale p.,Player ID.1,Stock,Sales,Leftovers,Unmet_Demand,...,Total Expected Revenue,Expected Mfg. Profit Share,Predicted Sales,Predicted Leftovers,Predicted Retailer Profit,Predicted Mfg Profit,Realized Retailer Profit,Predicted Mfg. Profit Share,null,Realized_Retailer_Profit
35,1,36,Manufacturer 1,136,9,Retailer 1,0,0,0,136,...,675,0.000000,71.782178,3.217822,186.386139,450,0,0.707118,0,0
36,1,37,Manufacturer 1,116,8,Retailer 1,60,60,0,56,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
37,1,38,Manufacturer 1,105,8,Retailer 1,60,60,0,45,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
38,1,39,Manufacturer 1,80,8,Retailer 1,60,60,0,20,...,664,0.562361,77.445545,5.554455,265.346535,415,240,0.609983,0,240
39,1,40,Manufacturer 1,75,8,Retailer 1,55,55,0,20,...,664,0.557563,77.445545,5.554455,265.346535,415,220,0.609983,0,220

In [94]:
wsp_contract = wsp_contract.fillna(0)
wsp_contract.to_csv('./curr_data.csv', index = False)

In [38]:
grouped_data_retailer = wsp_contract.groupby('Player ID')

In [39]:
for group_key, group_data in grouped_data_retailer:
    group_data['Retailer Profit Mean Of All 40 Periods'] = group_data['Realized Retailer Profit'].mean()
    group_data['Manufacturer Profit Mean Of All 40 Periods'] = group_data['Realized_Mfg_Profit'].mean()

In [40]:
group_keys = list(grouped_data_retailer.groups.keys())  # Convert to list
group_key_15 = group_keys[0]  # Assuming zero-based indexing
group_15 = grouped_data_retailer.get_group(group_key_15)

In [42]:
wsp_contract.iloc[360]

Experiment                                   3
Period                                       1
Player ID                      Manufacturer 10
Demand                                     122
Wholesale p.                                 9
Player ID.1                        Retailer 10
Stock                                       90
Sales                                       90
Leftovers                                    0
Unmet_Demand                                32
Realized_Mfg_Profit                        540
Total_Revenue                              810
Realized_Mfg_Profit_Share             0.666667
Optimal_Stock                               75
Under/Overstock_wrt_Optimal                 15
Expected Sales                       81.881188
Expected_Leftovers                   -6.881188
Expected Retailer Profit            491.287129
Expected Mfg Profit                        450
Total Expected Revenue                     675
Expected Mfg. Profit Share            0.666667
Predicted Sales                             75
Predicted Leftovers                          0
Predicted Retailer Profit                  450
Predicted Mfg Profit                       450
Realized Retailer Profit                   270
Predicted Mfg. Profit Share           0.666667
Name: 360, dtype: object

In [44]:
wsp_contract = pd.read_csv("../../Notebooks/experiment/curr_data.csv")

In [96]:
#Null Hypothesis (H0): The mean order quantity made by retailers is not significantly different from the optimal stock level.

#Alternative Hypothesis (H1): The mean order quantity made by retailers is significantly different from the optimal stock level.

#Reasoning: Retailers are expected to be able to adapt correctly to the changing wholesale price as they are rational agents.

wsp_contract['null'] = 0
from scipy.stats import wilcoxon
_, p_value = wilcoxon(abs(wsp_contract["Under/Overstock_wrt_Optimal"]), wsp_contract['null'])
print("p value:",p_value)
if p_value < 0.05:
    print("Reject the null hypothesis: The median absolute difference is significantly different from zero.")
else:
    print("Fail to reject the null hypothesis: No significant difference from zero in the median absolute difference.")

p value: 6.811157769659204e-143
Reject the null hypothesis: The median absolute difference is significantly different from zero.

In [100]:
my = []
i = 0
for group_key, group_data in grouped_data_retailer:
    a=group_data.iloc[0:5]['Expected Retailer Profit'].mean()
    b=group_data.iloc[20:30]['Expected Retailer Profit'].mean()
    my.append([a, b])
    i+=1

my = pd.DataFrame(my)


#hypo 2
#H0: No learning


t_stat, p_value = ttest_rel(my[0], my[1])
print("P value is", p_value, "which is higher than 0.05.\nMeaning that the null hypothesis is accepted.")

P value is 0.17795817163976257 which is higher than 0.05.
Meaning that the null hypothesis is accepted.

In [101]:
#hypo 3: 

#null: no difference between the best expected retailer profit scorers in under/over ordering stat
#meaning that the null hypothesis dictates that the retailers with highest expected retailer profits and lowest expected retailer profits have similar under/over ordering values
#reject null in the end


liste = []
i = 0
for group_key, group_data in grouped_data_retailer:
    a=group_data['Expected Retailer Profit'].mean()
    liste.append([a, i])
    i+=1

liste = sorted(liste, key=lambda x: x[0], reverse=True)

liste

[[483.2425742574258, 21],
 [439.4787128712871, 1],
 [384.47351485148516, 16],
 [379.68168316831685, 18],
 [375.1101485148515, 2],
 [374.62301980198015, 13],
 [370.56336633663364, 7],
 [369.53341584158414, 8],
 [362.07400990099006, 11],
 [342.4772277227723, 12],
 [335.029702970297, 4],
 [332.6965346534654, 3],
 [330.6289603960396, 20],
 [323.5022277227723, 6],
 [312.84282178217825, 10],
 [291.67549504950495, 15],
 [278.36881188118815, 19],
 [274.5378712871287, 17],
 [261.0556930693069, 0],
 [247.56188118811883, 9],
 [218.45915841584156, 5],
 [192.64455445544553, 14]]

In [102]:
first_indexes = [21, 1, 16, 18, 2]
last_indexes = [17, 0, 9, 5, 14]
df_best = pd.DataFrame()
df_worst = pd.DataFrame()

i = 0
for group_key, group_data in grouped_data_retailer:
    if i in first_indexes:
        df_best = pd.concat([df_best, group_data])
    elif i in last_indexes:
        df_worst = pd.concat([df_worst, group_data])
    i+=1
from scipy.stats import wilcoxon

res = wilcoxon(abs(df_best['Under/Overstock_wrt_Optimal']) ,abs(df_worst['Under/Overstock_wrt_Optimal'])) 

res

WilcoxonResult(statistic=7102.0, pvalue=0.0018774414138789553)